/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-Customer-service-center {
  background-image: url(icon.png);
  background-position: -315px -247px;
  width: 18px;
  height: 16px;
}
.icon-andriod {
  background-image: url(icon.png);
  background-position: -339px -204px;
  width: 20px;
  height: 24px;
}
.icon-au-cpln {
  background-image: url(icon.png);
  background-position: -339px -174px;
  width: 19px;
  height: 30px;
}
.icon-au-glln {
  background-image: url(icon.png);
  background-position: -132px -263px;
  width: 30px;
  height: 26px;
}
.icon-au-hxjzg {
  background-image: url(icon.png);
  background-position: -102px -263px;
  width: 30px;
  height: 28px;
}
.icon-au-jyln {
  background-image: url(icon.png);
  background-position: -339px -64px;
  width: 29px;
  height: 29px;
}
.icon-au-qysm {
  background-image: url(icon.png);
  background-position: -339px -148px;
  width: 26px;
  height: 26px;
}
.icon-au-qyyj {
  background-image: url(icon.png);
  background-position: -339px -124px;
  width: 29px;
  height: 24px;
}
.icon-au-rcln {
  background-image: url(icon.png);
  background-position: -162px -263px;
  width: 30px;
  height: 24px;
}
.icon-back {
  background-image: url(icon.png);
  background-position: -358px -174px;
  width: 10px;
  height: 17px;
}
.icon-ckgd {
  background-image: url(icon.png);
  background-position: -339px -311px;
  width: 12px;
  height: 7px;
}
.icon-contact-us {
  background-image: url(icon.png);
  background-position: -192px -263px;
  width: 18px;
  height: 15px;
}
.icon-cpxz {
  background-image: url(icon.png);
  background-position: -315px -229px;
  width: 18px;
  height: 18px;
}
.icon-csc-fgs {
  background-image: url(icon.png);
  background-position: -213px -190px;
  width: 18px;
  height: 18px;
}
.icon-csc-gcht {
  background-image: url(icon.png);
  background-position: -339px -291px;
  width: 18px;
  height: 20px;
}
.icon-csc-rlzy {
  background-image: url(icon.png);
  background-position: -249px -190px;
  width: 18px;
  height: 17px;
}
.icon-csc-tbgc {
  background-image: url(icon.png);
  background-position: -317px -114px;
  width: 18px;
  height: 20px;
}
.icon-csc-zj {
  background-image: url(icon.png);
  background-position: -317px -172px;
  width: 20px;
  height: 17px;
}
.icon-dh {
  background-image: url(icon.png);
  background-position: -177px -213px;
  width: 34px;
  height: 34px;
}
.icon-dz {
  background-image: url(icon.png);
  background-position: -211px -213px;
  width: 34px;
  height: 34px;
}
.icon-home {
  background-image: url(icon.png);
  background-position: -317px -153px;
  width: 18px;
  height: 19px;
}
.icon-index-bgfy {
  background-image: url(icon.png);
  background-position: -107px -213px;
  width: 35px;
  height: 36px;
}
.icon-index-bggk {
  background-image: url(icon.png);
  background-position: -142px -213px;
  width: 35px;
  height: 36px;
}
.icon-index-fgs {
  background-image: url(icon.png);
  background-position: -72px -263px;
  width: 30px;
  height: 28px;
}
.icon-index-gcht {
  background-image: url(icon.png);
  background-position: -339px -93px;
  width: 27px;
  height: 31px;
}
.icon-index-gxhpz {
  background-image: url(icon.png);
  background-position: -139px -140px;
  width: 70px;
  height: 60px;
}
.icon-index-jstd {
  background-image: url(icon.png);
  background-position: 0px 0px;
  width: 73px;
  height: 73px;
}
.icon-index-jyqtcb {
  background-image: url(icon.png);
  background-position: -213px 0px;
  width: 68px;
  height: 61px;
}
.icon-index-qxkz {
  background-image: url(icon.png);
  background-position: 0px -213px;
  width: 72px;
  height: 50px;
}
.icon-index-rjgx {
  background-image: url(icon.png);
  background-position: 0px -140px;
  width: 66px;
  height: 73px;
}
.icon-index-rlzy {
  background-image: url(icon.png);
  background-position: -66px -291px;
  width: 30px;
  height: 29px;
}
.icon-index-tbgcgk {
  background-image: url(icon.png);
  background-position: -339px 0px;
  width: 29px;
  height: 32px;
}
.icon-index-yczxs {
  background-image: url(icon.png);
  background-position: 0px -73px;
  width: 73px;
  height: 67px;
}
.icon-index-ydbg {
  background-image: url(icon.png);
  background-position: -281px -193px;
  width: 35px;
  height: 36px;
}
.icon-index-zj {
  background-image: url(icon.png);
  background-position: -40px -263px;
  width: 32px;
  height: 28px;
}
.icon-index-zyfw {
  background-image: url(icon.png);
  background-position: -72px -213px;
  width: 35px;
  height: 36px;
}
.icon-ios {
  background-image: url(icon.png);
  background-position: -339px -228px;
  width: 19px;
  height: 24px;
}
.icon-menu-a {
  background-image: url(icon.png);
  background-position: -316px -193px;
  width: 23px;
  height: 15px;
}
.icon-menu {
  background-image: url(icon.png);
  background-position: -316px -208px;
  width: 23px;
  height: 15px;
}
.icon-pi-bxdy {
  background-image: url(icon.png);
  background-position: -213px -61px;
  width: 51px;
  height: 72px;
}
.icon-pi-cbdl {
  background-image: url(icon.png);
  background-position: -66px -140px;
  width: 73px;
  height: 63px;
}
.icon-pi-cpts {
  background-image: url(icon.png);
  background-position: -281px -57px;
  width: 57px;
  height: 57px;
}
.icon-pi-cwgl {
  background-image: url(icon.png);
  background-position: 0px -291px;
  width: 34px;
  height: 30px;
}
.icon-pi-czjd {
  background-image: url(icon.png);
  background-position: -281px -114px;
  width: 36px;
  height: 79px;
}
.icon-pi-gzrw {
  background-image: url(icon.png);
  background-position: 0px -263px;
  width: 40px;
  height: 28px;
}
.icon-pi-htgl {
  background-image: url(icon.png);
  background-position: -339px -32px;
  width: 28px;
  height: 32px;
}
.icon-pi-hxjz {
  background-image: url(icon.png);
  background-position: -213px -133px;
  width: 58px;
  height: 57px;
}
.icon-pi-jygl {
  background-image: url(icon.png);
  background-position: -245px -213px;
  width: 32px;
  height: 32px;
}
.icon-pi-mkgk {
  background-image: url(icon.png);
  background-position: -281px 0px;
  width: 58px;
  height: 57px;
}
.icon-pi-rsgl {
  background-image: url(icon.png);
  background-position: -34px -291px;
  width: 32px;
  height: 30px;
}
.icon-pi-tspp {
  background-image: url(icon.png);
  background-position: -146px -73px;
  width: 64px;
  height: 67px;
}
.icon-pigxhpz {
  background-image: url(icon.png);
  background-position: -92px -249px;
  width: 19px;
  height: 14px;
}
.icon-pijstd {
  background-image: url(icon.png);
  background-position: -148px -249px;
  width: 19px;
  height: 11px;
}
.icon-pijyqycb {
  background-image: url(icon.png);
  background-position: -339px -252px;
  width: 20px;
  height: 20px;
}
.icon-piqxkz {
  background-image: url(icon.png);
  background-position: -111px -249px;
  width: 19px;
  height: 14px;
}
.icon-pirjgx {
  background-image: url(icon.png);
  background-position: -339px -272px;
  width: 19px;
  height: 19px;
}
.icon-piyczxs {
  background-image: url(icon.png);
  background-position: -72px -249px;
  width: 20px;
  height: 14px;
}
.icon-pm-fyd {
  background-image: url(icon.png);
  background-position: -264px -61px;
  width: 14px;
  height: 20px;
}
.icon-pm-lzq {
  background-image: url(icon.png);
  background-position: -264px -81px;
  width: 14px;
  height: 14px;
}
.icon-pm-mwh {
  background-image: url(icon.png);
  background-position: -130px -249px;
  width: 18px;
  height: 14px;
}
.icon-pm-syh {
  background-image: url(icon.png);
  background-position: -73px -73px;
  width: 70px;
  height: 67px;
}
.icon-pm-syq {
  background-image: url(icon.png);
  background-position: -146px 0px;
  width: 67px;
  height: 73px;
}
.icon-pm-syz {
  background-image: url(icon.png);
  background-position: -73px 0px;
  width: 73px;
  height: 73px;
}
.icon-product-introduction {
  background-image: url(icon.png);
  background-position: -317px -134px;
  width: 18px;
  height: 19px;
}
.icon-product-model {
  background-image: url(icon.png);
  background-position: -231px -190px;
  width: 18px;
  height: 18px;
}
.icon-yx {
  background-image: url(icon.png);
  background-position: -281px -229px;
  width: 34px;
  height: 34px;
}
