.icon
  width 50px
  height 50px
  position absolute
  left 0
  top 0
  background url("../asserts/images/icon.png") 0 0 no-repeat
.icon_menu_Index,
.icon_menu_Intro,
.icon_menu_Product,
.icon_menu_Collaborate,
.icon_menu_Price,
.icon_menu_Download,
.icon_menu_Contact,
.icon_menu_Userinfo
  position absolute
  left 1em
  top 5px
  width 36px
  height 36px
  background url("../asserts/images/icon.png") 0 -51px no-repeat
.icon_menu_Intro
  background-position 0 -97px
.icon_menu_Product
  background-position 0 -143px
.icon_menu_Collaborate
  background-position 0 -189px
.icon_menu_Price
  background-position 0 -235px
.icon_menu_Download
  background-position 0 -280px
.icon_menu_Contact
  background-position 0 -327px
.icon_menu_Userinfo
  background-position 0 -373px
#menu
  .active
    span.icon_menu_Index
      background-position -50px -51px !important
    span.icon_menu_Intro
      background-position -50px -97px !important
    span.icon_menu_Product
      background-position -50px -143px !important
    span.icon_menu_Collaborate
      background-position -50px -189px !important
    span.icon_menu_Price
      background-position -50px -235px !important
    span.icon_menu_Download
      background-position -50px -280px !important
    span.icon_menu_Contact
      background-position -50px -327px !important
    span.icon_menu_Userinfo
      background-position -50px -373px !important
.icon_jygl,
.icon_rsgl,
.icon_xzgl,
.icon_gzrw,
.icon_dagl,
.icon_cwgl
  height 66px
  width 66px
  margin auto
  background url("../asserts/images/icon.png") -240px -78px no-repeat
.icon_rsgl
  background-position -315px -79px
.icon_xzgl
  background-position -390px -79px
.icon_gzrw
  background-position -465px -79px
.icon_dagl
  background-position -540px -80px
.icon_cwgl
  background-position -615px -80px
.pro-menu
  .active
    .icon_jygl
      background-position -240px -5px
    .icon_rsgl
      background-position -315px -5px
    .icon_xzgl
      background-position -390px -5px
    .icon_gzrw
      background-position -465px -5px
    .icon_dagl
      background-position -540px -5px
    .icon_cwgl
      background-position -615px -5px
.icon_hyld
  display inline-block
  width 120px
  height 120px
  background url("../asserts/images/icon.png") -810px -170px no-repeat
.icon_price
  background url("../asserts/images/icon_price.jpg") 0 center no-repeat
  background-size 100%
.icon_tel
  background url("../asserts/images/icon_tel.png") 0 center no-repeat
.icon_qq
  background url("../asserts/images/icon_qq.png") 0 center no-repeat
.icon_home
  background url("../asserts/images/icon_gohome.png") 0 center no-repeat
.icon_address
  background url("../asserts/images/icon_address.png") 0 0 no-repeat
.icon_tel,
.icon_qq,
.icon_home,
.icon_address
  background-size 70px
.icon_jygl2
  background url("../asserts/images/icon_jygl.png") center center no-repeat
.icon_cwzx
  background url("../asserts/images/icon_cwzx.png") center center no-repeat
.icon_htzx
  background url("../asserts/images/icon_htzx.png") center center no-repeat
.icon_xzzx
  background url("../asserts/images/icon_xzzx.png") center center no-repeat
.icon_rszx
  background url("../asserts/images/icon_rszx.png") center center no-repeat
.icon_jygl2,
.icon_cwzx,
.icon_htzx,
.icon_xzzx,
.icon_rszx
  height 70px
  background-size 70px
.android_icon
  background url("../asserts/images/icon.png") -96px -98px no-repeat
.ios_icon
  background url("../asserts/images/icon.png") -96px -140px no-repeat
.tip_icon
  position absolute
  left 0
  top 4px
  width 30px
  height 30px
  background url("../asserts/images/icon.png") 0 0 no-repeat
  background-size 700px
