tstion(attr,time)
  transition:attr time;
tslate(x,y)
  -moz-transform: translate(x,y);
  -webkit-transform: translate(x,y);
  -o-transform: translate(x,y);
  transform: translate(x,y);
  
scale(x,y)
  -moz-transform: scale(x,y);
  -webkit-transform: scale(x,y);
  -o-transform: scale(x,y);
  transform: scale(x,y);
Rotate(x)
  -moz-transform: rotate(x);
  -webkit-transform: rotate(x);
  -o-transform: rotate(x);
  transform: rotate(x);
  
flex()
  display: box
  display: -webkit-box
  box-orient:horizontal
  -webkit-box-orient:horizontal
  
te()
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
clearfix()
  &:before,
  &:after
    content " " // 1
    display table // 2

  &:after
    clear both
size($width, $height)
  width $width
  height $height

square($size)
  size($size, $size)
center()
  position absolute
  left 50%
  top 50%
  tslate(-50%,-50%)
ps()
  position absolute
  top 0
  display block
rt(pos)
  ps()
  right pos
lt(pos)
  ps()
  left pos

bord()
  border 1px solid $bder-c
bBox()
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box;